.marker.marker-git-diff {
  z-index: 11;

  &.added {
    background-color: var(--text-color-success);
  }

  &.modified {
    background-color: var(--text-color-warning);
  }

  &.removed {
    background-color: var(--text-color-error);
  }
}
